<h1>
  Welcome to Company X
  <h1>
    <h2>
      View and Add your Job Data
      <h2>
        <form action="/skhatri707/addData">
          <button>Add Data</button>
        </form>
        <form action="/skhatri707/viewData">
          <button>View Data</button>
        </form>
      </h2>
    </h2>
  </h1>
</h1>
